.carousel {
    background-color: white;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-areas:
        "left carousel-item right";
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel-items {
    grid-area: carousel-items;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .carousel-image {
    width: 100%;
    height: 300px; /* Set a fixed height for the carousel */
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
  }

  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    z-index: 10;
  }
  
  .right-arrow {
    left: 10px;
  }

  .left-arrow {
    right: 10px
  }
  
  .left-arrow p, .right-arrow p {
    margin: 0;
  }