.carousel-items {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%; /* Ensures the image spans the full width of the container */
  height: 100%; /* Ensures the image spans the full height of the container */
  object-fit: cover; /* Scales the image proportionally to fill the container */
  position: absolute; /* Position for layering */
  transition: transform 0.5s ease-in-out;
  animation-duration: 0.5s;
}

.carousel {
  background-color: white;
  width: 100%;
  height: 500px; /* Set a fixed height for the carousel */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start 50px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

@keyframes fadeOutToBottom {
  0% {
    opacity: 1;
    transform: translateY(0); /* Start at original position */
  }
  100% {
    opacity: 0;
    transform: translateY(50px); /* Move 50px below */
  }
}

.carousel-image.active {
  animation: fadeInFromBottom 0.5s ease-in-out forwards; /* Apply fade-in animation */
}

.carousel-image.exiting {
  animation: fadeOutToBottom 0.5s ease-in-out forwards; /* Apply fade-out animation */
}